[Unit]
Description=Tangerine Catering App

[Service]
Type=simple
User=tangerine
Group=tangerine
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4796"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/tangerine/tangerine
ExecStart=/home/tangerine/tangerine/start.sh

[Install]
WantedBy=multi-user.target
