<div class="row">
  <div class="col-8 offset-2">
    <h1 class="top-space">New Event</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.event_path(@conn, :create)) %>

<span><%= link "Cancel", to: Routes.event_path(@conn, :index) %></span>
</div>
</div>
