<div class="row">
  <div class="col-8 offset-2 top-space">
    <h1>Edit Menu</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.menu_path(@conn, :update, @menu)) %>
<span class="bottom"><%= link "Cancel", to: Routes.event_path(@conn, :index) %></span>

</div>
</div>
<script>
  window.channelName = "menu:<%= @menu.id %>"
</script>
