<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>CateringApp · Phoenix Framework</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
</head>
<body>

  <%= if @conn.request_path != "/results" do %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
  <a class="navbar-brand" href="/">Tangerine</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>


      <li class="nav-item"><a  class="nav-link" href="/users">Users</a></li>


      <%= if @current_user do %>
      <li class="nav-item"><a  class="nav-link" href="/events">Events</a></li>
      <% end %>
    </ul>
    <div>
      <%= if @current_user do %>
      <p class="my-3">
        Logged in as: <%= @current_user.username %> |
        <%= link("Logout", to: Routes.sessions_path(@conn, :delete), method: :delete) %>
      </p>
      <% else %>
        <%= form_for @conn, Routes.sessions_path(@conn, :create), [class: "form-inline my-2 my-lg-0"], fn f -> %>
          <%= text_input(f, :username, placeholder: "username", class: "form-control mr-sm-2") %>
          <%= password_input(f, :password, placeholder: "password", class: "form-control mr-sm-2") %>
          <%= submit "Login", class: "btn" %>
        <% end %>
      <% end  %>
    </div>
  </div>
  </div>
</nav>
<% end %>

    <main role="main" class="container">
      <%= if get_flash(@conn, :info) do %>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= "http://www.the-real-ice-man.website:4000/js/app.js" %>"></script>
  </body>
  </html>
